/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.docker
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
.idea/
.env.testing

#############################
# Docker Volumes
#############################
docker/volumes/mysql
docker/volumes/postgres

.DS_Store
public/.DS_Store
backend/public/build/assets/*